div#Index {
  flex: 1;
  min-height: 100vh;
  background-color: white;
}
div#Index > h1 {
  margin: 15px;
}
div#Index > img {
  width: 250px;
  height: 250px;
  position: absolute;
  opacity: 0.1;
  top: -100px;
  right: -100px;
}
div#Index div#items {
  display: flex;
  width: 96%;
  flex-wrap: wrap;
  margin-left: 2%;
}