header{
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
    background-color: #c1392b;
    user-select: none;
}
header span{
    color: white;
    font-size: 24pt;
    font-weight: bold;
}
header a{
    background-color: transparent;
    border: 0;
    border-radius: 100%;
    color: white;
}
header a .icon{
    width: 36px;
    height: 36px;
}