div#pokeList {
  display: grid;
  grid-template-columns: 1fr;
  gap: 5px;
  padding: 6px 16px;
}

@media (min-width: 550px) {
  div#pokeList {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 760px) {
  div#pokeList {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (min-width: 1050px) {
  div#pokeList {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

footer#pokeFooter {
  padding: 0px 16px;
}
footer#pokeFooter button {
  height: 60px;
  outline: none;
  border: 0px;
  margin-bottom: 16px;
  width: 100%;
  background-color: #4ad1b2;
  padding: 15px;
  border-radius: 5px;
  font-size: 12pt;
  color: white;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px #30a086;
}
footer#pokeFooter button:active {
  box-shadow: 0px 0px #30a086;
  transform: translateY(4px);
}