div#pokeList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
div#pokeList button{
  width: 90%;
  margin-left: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}