div#NotFound {
  text-align: center;
  width: 100%;
}

div#NotFound .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

div#NotFound .App-logo {
  height: 40vmin;
}

div#NotFound header h1 {
  margin: 0px;
}

div#NotFound .App-link {
  color: #09d3ac;
}
